*
.*
!package.json
!LICENSE*
!README*
!CHANGELOG*
!dist/**/*.js
!dist/**/*.js.map
!dist/**/*.cjs
!dist/**/*.cjs.map
!dist/**/*.mjs
!dist/**/*.mjs.map
!dist/**/*.d.ts
!dist/**/*.d.cts
!dist/**/*.d.mts
!dist/**/*.css

scripts/